<h1>Pirate:</h1>
<h2><%=@pirate.name%></h2>
<p><%=@pirate.weight%></p>
<p><%=@pirate.height%></p>

<h1>Ships:</h1>
<%@ships.each do |ship|%>
  <h2><%=ship.name%></h2>
  <p><%=ship.type%></p>
  <p><%=ship.booty%></p>
<% end %>
